<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div class="container">
  <div>
    <h2>회원 가입을 진행합니다.</h2>
    <form action="/members/new" method="POST" onsubmit="return beforeSubmit()">
      <div class="form-group">
        <div id="name-form">
          <label for="name">이름</label>
          <input type="text" id="name" name="name" placeholder="이름을 입력하세요">
        </div>

        <div id="password-form">
          <label for="password">비밀번호</label>
          <input type="password" id="password" name="password" placeholder="비밀번호를 입력하세요">
        </div>

        <div id="rfid-form">
          <label for="rfid">RFID</label>
          <input type="text" id="rfid" name="rfid" placeholder="rifd 번호를 입력하세요">
        </div>

        <div id="barcode-form">
          <label for="barcode">Barcode</label>
          <input type="text" id="barcode" name="barcode" placeholder="barcode 번호를 입력하세요">
        </div>

        <div id="age-form">
          <label for="age">나이</label>
          <input type="text" id="age" name="age" placeholder="나이를 입력하세요">
        </div>

        <div id="gender-form">
          <label for="gender">성별</label>
          <select id="gender" name="gender">
            <option value="male">남성</option>
            <option value="female">여성</option>
          </select>
        </div>
      </div>
      <button type="submit">등록</button>
    </form>
  </div>
</div> <!-- /container -->

<script>
    function beforeSubmit(){
        var name = document.getElementById('name').value;
        var age = document.getElementById('age').value;
        var password = document.getElementById('password').value;
        var barcode = document.getElementById('barcode').value;
        var rfid = document.getElementById('rfid').value;

        if(!name || !age || !password || !barcode || !rfid){
            alert("정보를 정확히 입력해주세요");
            return false;
        }
        else{
            return true;
        }
    }
</script>

</body>
</html>
