<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div class="container">
  <div>
    <h2>전체 회원을 조회합니다.</h2>
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>이름</th>
          <th>비밀번호</th>
          <th>RFID 번호</th>
          <th>Barcode 번호</th>
          <th>나이</th>
          <th>성별</th>
        </tr>
      </thead>
      <tbody>
      <tr th:if="${response=='NoData'}">
        <td> 회원 정보가 없습니다. </td>
      </tr>
      <tr th:each="member : ${members}">
        <td> <span th:text="${member.id}"> Id </span></td>
        <td> <span th:text="${member.name}"> Name </span></td>
        <td> <span th:text="${member.password}"> PW </span></td>
        <td> <span th:text="${member.rfid}"> Rfid </span></td>
        <td> <span th:text="${member.barcode}"> Barcode </span></td>
        <td> <span th:text="${member.age}"> Age </span></td>
        <td> <span th:text="${member.gender}"> Gender </span></td>
      </tr>
      </tbody>
    </table>
    <a href="/"> 홈으로 돌아가기 </a>
  </div>
</div> <!-- /container -->

</body>
</html>

