<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div class="container">
  <div>
    <form action="/members/confirm" method="POST">
      <label for="rfid">RFID : </label>
      <input id="rfid" name="rfid" placeholder="rfid를 입력해주세요" type="password">
      <label for="barcode">바코드 : </label>
      <input id="barcode" name="barcode" placeholder="barcode를 입력해주세요" type="password">
      <button type="submit">확인</button>
    </form>
  </div>
</div> <!-- /container -->

<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script>
    $(document).ready(function() {
        let message = "[[${msg}]]";
        if (message != "") {
            alert(message);
        }else {
        }
    })
</script>
</body>
</html>
