<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div class="container">
  <div>
    <h2><span th:text="${member.name}"> </span> 님의 정보입니다.</h2>
    <table>
      <thead>
      <tr>
        <th>#</th>
        <th>이름</th>
        <th>RFID</th>
        <th>BARCODE</th>
        <th>PASSWORD</th>
        <th>AGE</th>
        <th>GENDER</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td> <span th:text="${member.id}"> Id </span></td>
        <td> <span th:text="${member.name}"> RFID </span></td>
        <td> <span th:text="${member.name}"> Barcode </span></td>
        <td> <span th:text="${member.name}"> Password </span></td>
        <td> <span th:text="${member.name}"> Age </span></td>
        <td> <span th:text="${member.name}"> Gender </span></td>
      </tr>
      </tbody>
    </table>
    <a href="/"> 홈으로 돌아가기 </a>
  </div>
</div> <!-- /container -->

</body>
</html>

